@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.menu{
    display: flex;
    padding: 10px;
    
}
.menu .logo{
    font-size: 25px;
    color: rgb(135, 204, 32);
    cursor: pointer;
    margin-left: 4%;
}
.menu .logo samp{
    color: rgb(235, 235, 74);
    
}
.menu nav{
    margin-left: 50%;
    margin-top: 1%;

}
.menu ul{
    display: flex;
}
.menu ul li{
    margin-left: 20px;
}
.menu ul li a{
    font-size: 15px;
    color: black;
    
}
.menu ul li a:hover{
    padding: 5px;
    border-radius: 5px;
    background:rgb(100, 148, 29) ;
    color: white ;
    transition: all 0.7s;
   
}

.header img{
    position: relative;
    

}
.header{
    position: relative;
}
.header .text-header{
   position: absolute; 
   left: 31%;
   bottom: 30%;
   text-align: center;
}
.header .text-header h1{
    margin-bottom: 30px;
}
.header .text-header p{
    margin-bottom: 30px;
}
.header .text-header a{
    cursor: pointer;
    background-color: rgb(122, 180, 36);
    color: white;
    padding: 5px 15px;
    border-radius: 6px;
    
}
.header .text-header a:hover{
    background-color: greenyellow;
    color: rgb(47, 71, 11);
    transition: all 0.7s;
}


/*main*/
.servisos{
    position: relative;
}
.servisos img{
    position: relative;
    left: 34%;
}
.servisos h3{
    left: 40%;
    bottom: 100px;
    position: absolute;
}
.servisos p{
    text-align: center;
    bottom: 50px;
    position: absolute;
    margin-left: 10%;
}


.sobre{
    text-align: center;
    padding: 10px;
    background: rgba(231, 231, 231, 0.418);
}
.sobre h2{
    margin-top: 3%;
    padding: 15px;
    
}
.sobre p{
    
    padding: 15px;
    text-align: justify;
    margin: 30px;
}


.depoimentos{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 48px;
}
.depoimentos .pessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
}
.depoimentos .pessoa h3{
    padding: ;
}
.depoimentos .pessoa p{
    text-align: justify;
}


footer{
    background-color: rgb(58, 58, 58);
    padding: 20px;
    text-align: center;
}
footer p{
    color: white;
}


/*Responsivel*/
@media(max-width:920px){
    .menu ul {
        margin-right: 40%;
    }
}